<!-- <app-nested-component-1 /> -->
<!-- <app-nested-component-2 /> -->

<h2>Empleados presentes:</h2>
<app-empleados-lista
  (eliminarEmpleado)="eliminarEmpleado($event, 'empleadosPresentes')"
  [data]="empleadosPresentes"
/>

<div class="m-5"></div>

<!--
$event ====> Representa los datos que envia EventEmitter desde el hijo mediante la funcion emit
-->

<h2>Empleados ausentes:</h2>
<app-empleados-lista
  (eliminarEmpleado)="eliminarEmpleado($event, 'empleadosAusentes')"
  [data]="empleadosAusentes"
/>

<!-- PADRE / ABUELO -->
<div>
  <!-- HIJO -->
  <div>
    <!-- HIJO -->
    <div></div>
  </div>
</div>
